              <div class="col-lg-6">
                <ul class="list-unstyled">
{% for tag in site.tags %} 
	{% assign odd = forloop.index0 | modulo:2 %}
	{% if odd == 0 %}
					<li><a href="/tags.html#{{ tag[0] }}">{{ tag[0] }}</a></li>
	{% endif %}
{% endfor %} 
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled">
{% for tag in site.tags %} 
	{% assign odd = forloop.index0 | modulo:2 %}
	{% if odd == 1 %}
					<li><a href="/tags.html#{{ tag[0] }}">{{ tag[0] }}</a></li>
	{% endif %}
{% endfor %} 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
